*~
#*
\.#*
!doc/html/clamps
!doc/*
doc/#*
!doc/html/*
*.fasl
clamps
init-clamps.lisp
todo.org
doc/html/clamps-doc/clamps
doc/html/clamps-doc/clamps-dict
doc/html/clamps-doc/cm-dict-orig
doc/html/clamps-doc/fonts
doc/scratch
doc/cm-dict-neu
