:root {
    /* --text-background: #1e2129; */
    /* --text-color: #8b8e93; */
    /* --toc-background: #1a1c23; */
    /* --menu-background: #060712; */
    /* --search-background: #222; */
    /* --img-background: #d3d3d3; */
    /* --anchor-text: #5e8bde; */
    /* --anchor-toc: #3e6bae; */
    /* --anchor-active: orange; */
    /* --i-color: #187b2e; */
    /* --arg-color: #d66; */
    /* --b-color:  #00b; */
    /* --title-color: #5e6068; */
    /* --h1-color: #5e6068; */
    /* --h2-color: #5e6068; */
    /* --h3-color: #5e6068; */
    /* --h4-color: #5e6068; */
    /* --code-background: #1f1a1a; */
    /* --code-border-before: black; */
    /* --code-border: #555; */
    /* --code-text: antiquewhite; */
    /* --nav-color: #1f3657; */
    /* --nav-hover: #3e6bae; */
    /* --footnote-separator: #8b8e93; */
    --text-background: #1e2129;
    --text-color: #b5b9bf;
    --toc-background: #1a1c23;
    --menu-background: #060712;
    --search-background: #00032c;
    --img-background: #1131312;
    --anchor-hover: #7ab6ff;
    --anchor-toc: #518be2;
    --anchor-color: #518be2;
    --anchor-active: orange;
    --i-color: #1fa03c;
    --arg-color: #d06060;
    --b-color: #00000e;
    --title-color: #7a7d87;
    --h1-color: #7a7d87;
    --h2-color: #7a7d87;
    --h3-color: #7a7d87;
    --h4-color: #7a7d87;
    --h5-color: #7a7d87;
    --code-background: #1f1a1a;
    --code-border-before: #black;
    --code-border: #333;
    --code-text: #b5b9bf
    --nav-color: #284671;
    --nav-hover: #518be2;
    --footnote-separator: #b5b9bf;
    background: var(--text-background);
    color: var(--text-color);
    line-height: 1.6em;
    margin: 0;
    font-family: Dejavu Sans;
    font-size: 10pt;
}

html, body{
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 5em 1fr;
    grid-template-areas: "top-menu"
                         "body-content";
}

#preamble {
    grid-area: top-menu;
    background: var(--menu-background);
    display: flex;
} 

.top-menu {
    padding: 0.5em 1em;
    align-self: flex-end;
    font-size: 1.2em;
}

nav h2 {
    display: inline-block;
}



header {
    /* grid-area: menul; */
    /* background: #1a1c23; */
    padding-left: 1em;
    display: none;
}

#content {
    grid-area: body-content;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid; /* direct childs haben normalen Seitenfluss */
    grid-template-rows: 1fr;
    grid-template-columns: 25em 1fr;
    grid-template-areas: 
                         "nav content";
}

#table-of-contents {
    grid-area: nav;
    /* background: #181a21; */
    /* background: #1b1e25; */
    background: var(--toc-background);
    height: 100%;
    padding-left: 1em;
}

#page-main-body {
    grid-area: content;
/*     position: fixed; */
/*     top: 0; */
/*     left: 27em; */
/*     max-width: 40em; */
/*     padding: 1.618em 3.236em; */
    height: 100%;
    display: flex;
    overflow: auto;
    /* padding-left: 10em; */
    padding: 0;
}

#search{
    grid-area: nav;
    height: 1em;
    background: var(--search-background);
}

#page-text-body {
    display: inline-block;
    width: 60em;
    overflow: unset;
}


#nav-left {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 0.5em;
    display: inline-block;
    font-size: 4em;
    width: 1em;
    position: sticky;
    top: 0;
}

#nav-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 0.5em;
    height: 100vh;
    font-size: 4em;
    background: url(../img/user.png) no-repeat 6px center;
    width: 1em;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 876px){

    #page-main-body{
        flex-wrap: wrap;
        padding: 0 2em;
    }

    #nav-left {
        height: 1em;
        width: 50%;
        margin: 0;
        order: 2;
        position: relative;
    }

    #nav-right {
        height: 1em;
        width: 50%;
        margin: 0;
        order: 3;
        position: relative;
        text-align: right;
    }

    #page-text-body{
        order: 1;
        width: 100%;
    }
}

.top-menu-active:hover {
    color: var(--anchor-active);
}


.top-menu-active {
    color: var(--anchor-active);
}

.org-ul {
    padding-left: 1em;
    list-style-type: disc;

}

a {
    color: var(--anchor-toc);
    text-decoration: none;
}


a:hover, i.angle-left:hover, i.angle-right:hover {
    color: var(--anchor-hover);
    text-decoration: none;
}


h1.title {
    line-height: 1.3em;
    font-size: 2em;
    font-weight: normal;
    text-align: left;
//    padding-left: 11em;
}

.title {
    color: var(--title-color);
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    line-height: 6.3 em;
}

.ul-toc-level-1 {
    /* padding-left: 1.5em; */
    list-style-type: none;
}

.ul-toc-level-2 {
    padding-left: 1.5em;
    list-style-type: none;
}

#text-table-of-contents {
    margin-left: -1.5em;
    line-height: 1.3em;
}

sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
}

ul {
    padding-left: 1.5em;
    list-style-type: none;
}

h1 {
    display: none;
}

h2 {
    font-size: 2em;
    /* display: none; */
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}


h2, h3, h4, h5 {
    color: var(--h2-color);
    font-weight: normal;
    line-height: 1.3em;
}

pre.src-lisp::before {
  content: 'Common Lisp';
}

pre.src::before {
  display: none;
  position: absolute;
  background-color: var(--code-background);
  top: -10px;
  right: 10px;
  padding: 3px;
  border: 1px solid var(--code-border-before);
  color: var(--code-text);
}



pre {
  border: 1px solid var(--code-border);
  box-shadow: none;
  padding: 8pt;
  background-color: var(--code-background);
    padding-top: 8pt;
  font-family: monospace;
  overflow: auto;
  margin: 1.2em;
  color: var(--code-text);
}

img {
    background: var(--img-background);
}

.outline-4, .outline-3, .outline-2, .outline-1 {
//    overflow: auto;
}



a.nav-left {
    color: var(--anchor-toc);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    accesskey: 'p';
}

a.nav-left:hover, a.nav-right:hover, a.nav-up:hover {
    /* color: #5e8bde; */
    color: var(--nav-hover);
}

a.nav-right::before {
    accesskey: 'n';
}

a.nav-right {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: var(--anchor-toc);
}

i.angle-left::before {

    content: "<";
}

i.angle-right::before {

    content: ">";
}

i.angle-left, i.angle-right {
    color: var(--nav-color);
}


i {
    color: var(--i-color);
    font-style: normal;
}

code {
    color: var(--arg-color);
}

#postamble {
    /* display: none; */
    width: 100%;
    height: 5em;
    background: var(--menu-background);
}

#header::before, #header::after, #content::before, #content::after, #footnotes::before, #footnotes::after, #footer::before, #footer::after {
  content: " ";
  display: table;

}

code {
    var(--i-color);    
}

#org-div-nav-menu {
    display: none;
}

.toc-active:hover {
    color: var(--anchor-active);
}

.toc-active {
    color: var(--anchor-active);
}

.toc-hidden {
    /* display: none; */
}

.toc-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    white-space: nowrap;
    width: 22em;
}

.toc-level-1 a {
    margin-top: 0.2em;
    color: var(--anchor-color);
}

.toc-level-2 .toc-entry {
    margin-top: 0em;
    color: #3e6bae;
    pointer-events: auto;
}

.toc-level-2 .toc-entry:hover {
    color: #5e8bde;
    pointer-events: auto;
}

.toc-level-1 .toc-active {
    color: #ffa500;
    pointer-events: auto;
}

.toc-level-1 .toc-active:hover {
    color: #ffa500;
}

.ul-toc-level-3 {
    /* display: none; */
}

.toc-hidden {
    display: none;
}

.toc-level-1 {
    font-size: 1em;
    /* font-weight: bold; */
    line-height: 1.6em;
}

.toc-level-2 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2em;
}

.toc-active {
    color: orange;
}


.toc-active a:hover {
    color: orange;
}

.toc-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    display:inline-block;
    white-space: nowrap;
    width: 22em;
}


#footnotes {
  margin-top: 5em;
  border-top: 1pt solid (--footnote-separator);
}

.footpara {
    display: inline;
}
