[data-theme="dark"] {
    --global-font-size: 10pt;
    --overview-toc-width: 17.8em;
    --clamps-toc-width: 20em;
    --clamps-dict-toc-width: 17.8em;
    --fomus-toc-width: 17.8em;
    --text-font:  DejaVu, sans;
    --header-font: DejaVu, sans-serif;
    --monospace-font: monospace;
    /* --header-font: Dejavu, sans; */
    --text-background: #1e2129;
    --text-color: #b5b9bf;
    /* --toc-background: #1a1c23; */
    /* --menu-background: #060712; */
    /* --search-background: #00032c; */
    --toc-background: #1e2129;
    --menu-background: #1e2129;
    --search-background: #1e2129;
    --img-background: white;
    --anchor-hover: #7ab6ff;
    --anchor-toc: #518be2;
    --anchor-active: #ffa500;
    --i-color: #1fa03c;
    /* --i-color: #187b2e; */
    --arg-color: #d06060
;    --b-color: #00000e;
    --title-color: #7a7d87;
    --h1-color: #7a7d87;
    --h2-color: #7a7d87;
    --h3-color: #7a7d87;
    --h4-color: #7a7d87;
    --h5-color: #7a7d87;
    /* --nav-color: #1f3657 */
    --nav-color: #284671;
    --nav-hover: #518be2;
    --footnote-separator: #b5b9bf;
    --code-background: #121010;
    --code-border-before: #black;
    --code-border: #303030;
    --code-text: white;
    --code-keyword-color: #afeeee;
    --code-type-color: #87ceeb;
    --code-string-color: #7ab6ff;
    --code-variable-color: #40e0d0;
    --code-builtin-color: #7fffd4;
    --code-function-color: #40e0d0;
    --code-comment-color: #add8e6;
    --rainbow-del-depth-error: #88090B;
    --rainbow-del-depth-1: #ffff00;
    --rainbow-del-depth-2: #a9a9a9;
    --rainbow-del-depth-3: #ff1493;
    --rainbow-del-depth-4: #adff2f;
    --rainbow-del-depth-5: #00bfff;
    --rainbow-del-depth-6: #ffff00;
    --rainbow-del-depth-7: #cdad00;
    --rainbow-del-depth-8: #cd8500;
    --rainbow-del-depth-9: #8b4500;
    --rainbow-del-mismatched: #88090B;
    --rainbow-del-unmatched: #88090B;
    
        
}

[data-theme="light"] {
    --global-font-size: 10pt;
    --overview-toc-width: 17.8em;
    --clamps-toc-width: 20em;
    --clamps-dict-toc-width: 17.8em;
    --fomus-toc-width: 17.8em;
    --text-font:  DejaVu, sans;
    --header-font: DejaVu, sans-serif;
    --monospace-font: monospace;
    /* --header-font: Dejavu, sans; */
    --color-bg: #ffffff;
    --color-fg: black;
    --text-background: #ffffff;
    --text-color: #000000;
    --toc-background: #ffffff;
    --menu-background: #fff;
    --search-background: #ffffff
    --img-background: #ffffff;
    --anchor-hover: #7ab6ff;
    --anchor-toc: #3e6bae;
    --anchor-active: #ef9500;
    --i-color: #1f903c;
    /* --i-color: #187b2e; */
    --arg-color: #b04040;
    --b-color: #00000e;
    --title-color: #5a5d67;
    --h1-color: #5a5d67;
    --h2-color: #5a5d67;
    --h3-color: #5a5d67;
    --h4-color: #5a5d67;
    --h5-color: #5a5d67;
    /* --nav-color: #1f3657 */
    --nav-color: #284671;
    --nav-hover: #7ab6ff;
    --footnote-separator: #b5b9bf;
    --code-background: #eee;
    --code-border-before: #black;
    --code-border: #303030;
    --code-text: #000;
    --code-keyword-color: #060;
    --code-type-color: #87ab30;
    --code-string-color: #7ab6ff;
    --code-variable-color: #67b600;
    --code-function-color: #67b600;
    --code-builtin-color: #4f9fb4;
    --code-comment-color: #5a96cf;
    --rainbow-del-depth-error: #88090B;
    --rainbow-del-depth-1: #aa7700;
    --rainbow-del-depth-2: #999999;
    --rainbow-del-depth-3: #ff1493;
    --rainbow-del-depth-4: #8daa2f;
    --rainbow-del-depth-5: #00bfff;
    --rainbow-del-depth-6: #ffff00;
    --rainbow-del-depth-7: #cdad00;
    --rainbow-del-depth-8: #cd8500;
    --rainbow-del-depth-9: #8b4500;
    --rainbow-del-mismatched: #88090B;
    --rainbow-del-unmatched: #88090B;
}


/*
This file is from the Gentium project (https://software.sil.org/gentium/).
Copyright (c) 2003-2023 SIL International (http://www.sil.org/) with Reserved
Font Names "Gentium" and "SIL". This Font Software is licensed under the SIL
Open Font License, Version 1.1 (http://scripts.sil.org/OFL).
*/

/* use Gentium Plus - Regular in .woff2 format */
@font-face {
  font-family: GentiumPlusW;
  size-adjust: 110%;
  src: url(../fonts/GentiumPlus-Regular.woff2);
}
/* use Gentium Plus - Italic in .woff2 format */
@font-face {
  font-family: GentiumPlusW;
  size-adjust: 110%;
  font-style: italic;
  src: url(../fonts/GentiumPlus-Italic.woff2);
}
/* use Gentium Plus - Bold in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
        size-adjust: 110%;
	font-weight: bold;
	src: url(../fonts/GentiumPlus-Bold.woff2);
}
/* use Gentium Plus - Bold Italic in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
	font-weight: bold;
        size-adjust: 110%;
	font-style: italic;
	src: url(../fonts/GentiumPlus-BoldItalic.woff2);
}

@font-face {
	font-family: DejaVuMono;
        size-adjust: 90%;
	src: url(../fonts/DejaVuSansMono.woff);
}

@font-face {
	font-family: DejaVuMono;
	font-weight: bold;
        size-adjust: 90%;
	src: url(../fonts/DejaVuSansMono-Bold.woff);
}

@font-face {
	font-family: DejaVuMono;
        size-adjust: 90%;
	font-style: italic;
	src: url(../fonts/DejaVuSansMono-Oblique.woff);
}

@font-face {
	font-family: DejaVuMono;
        size-adjust: 90%;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/DejaVuSansMono-BoldOblique.woff);
}



/*
This file is from the Andika project (https://software.sil.org/andika/).
Copyright (c) 2004-2023 SIL International (http://www.sil.org/) with Reserved
Font Names "Andika" and "SIL". This Font Software is licensed under the SIL
Open Font License, Version 1.1 (http://scripts.sil.org/OFL).
*/

/* use Andika - Regular in .woff2 format */
@font-face {
  font-family: AndikaW;
  size-adjust: 100%;
  src: url(../fonts/Andika-Regular.woff2);
}
/* use Andika - Italic in .woff2 format */
@font-face {
  font-family: AndikaW;
  size-adjust: 100%;
  font-style: italic;
  src: url(../fonts/Andika-Italic.woff2);
}
/* use Andika - Bold in .woff2 format */
@font-face {
	font-family: AndikaW;
        size-adjust: 100%;
	font-weight: bold;
	src: url(../fonts/Andika-Bold.woff2);
}
/* use Andika - Bold Italic in .woff2 format */
@font-face {
	font-family: AndikaW;
        size-adjust: 100%;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/Andika-BoldItalic.woff2);
}

@font-face {
	font-family: FontAwesome;
        size-adjust: 100%;
	src: url(../fonts/fontawesome-webfont.woff2);
}

