:root{
  font-size: min(00.52083333vw, 00.92592593vh);
}

body{
  margin: 0 auto;
  width: 192rem;
  height: 108rem;
  font-size: 1.6rem;
  outline: 1px solid red;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-template-rows: max-content; */
  background-color: #444;
  font-family: sans-serif;
}

[data-width="1/1"], [data-width="2/2"], [data-width="3/3"], [data-width="4/4"], [data-width="6/6"], [data-width="12/12"]{
  grid-column: 1/-1;
}

[data-width="1/2"], [data-width="2/4"], [data-width="3/6"], [data-width="6/12"]{
  grid-column: span 6;
}

[data-width="5/12"]{
  grid-column: span 5;
}

[data-width="1/3"], [data-width="2/6"], [data-width="4/12"]{
  grid-column: span 4;
}

[data-width="1/4"], [data-width="3/12"]{
  grid-column: span 3;
}

[data-width="1/6"], [data-width="2/12"]{
  grid-column: span 2;
}

[data-width="1/12"]{
  grid-column: span 1;
}

.group{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.collection{
    display: flex;
//    padding: 0.5rem;
    justify-content: flex-start; /* flex-start, flex-end */
    align-items: left; /* center flex-start, flex-end
  outline: 0.1em solid black;
}

/* Knob */

o-knob {
    font-size: 2em;
    --half-stroke: calc(var(--stroke-width, 1px) / 2);
    display: block;
    padding: 1em 0.75em;
}

.knob {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 3.4em;
}
.knob svg {
    width: 3em;
    overflow: visible;
    cursor: pointer;
    display: block;
}
.knob circle {
    r : calc(50% - var(--half-stroke));
    cx : 50%;
    cy : 50%;
    fill: var(--fill-color, #fff);
    stroke-width: var(--stroke-width, 1);
    stroke: var(--stroke-color, #000);
}
.knob #pointer {
    stroke-width: var(--stroke-width, 1);
    stroke: var(--stroke-color, #000);
    transform-origin: center center;
}

.knob .value{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  font-size: 1.6 em;
  color: #ddd;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* o-numbox */

o-numbox[type=text] {
    caret-color: var(--textbox-caret-color);
}

o-numbox[type=text]::selection {
    caret-color: transparent;

}

input::selection {
    user-select: none;
    color: var(--textbox-selected-foreground);
    background-color: var(--textbox-selected-background);
}

input[is=o-numbox] {
    font-size: 2em;
    --textbox-selected-foreground: black;
    --textbox-selected-background: lightblue;
    user-select: none;
    color: black;
    background-color: white;
    position: relative;
    width: 4em;
    height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: solid 0.1em;
    text-align: center;
}

/* o-bang */

o-bang {
    position: relative;
    font-size: 2em;
    user-select: none;
    width: 1em;
    height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
    background-off: transparent;
    background-on: orange;
    color-off: black;
    color-on: black;
}

o-toggle {
    position: relative;
    font-size: 2em;
    user-select: none;
    width: 1em;
    height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
    background-off: transparent;
    background-on: orange;
    color-off: black;
    color-on: black;
}

o-radio {
    position: relative;
    font-size: 1.6em;
    user-select: none;
//    width: 1em;
//    height: 8em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
    background-off: transparent;
    background-on: orange;
    color-off: black;
    color-on: black;
}

o-slider {
    position: relative;
    font-size: 2em;
    user-select: none;
//    width: 1em;
//    height: 8em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: solid 1px;
    text-align: center;
    background: transparent;
}


o-multislider {
    position: relative;
    font-size: 2em;
    user-select: none;
    width: 8em;
    height: 8em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    text-align: center;
    background: transparent;
    display: flex;
    flex: 0 0 auto;
}

.mvslider {
    flex-direction: column-reverse;
    display: flex;
}

.sliderbar {
    position: relative;
    width: 100%;
}
